---
layout: default
---

<!--
name: 2025-07-C2
course: C2
start: 22 Jul 2025
end: 7 Dec 2025
time: Tue 16:15–18:15
people: 3
status: Active
layout: classes
-->
{% assign course = site.courses | where: 'code', page.course | first %}
<p><a href="{{ course.url | prepend: site.baseurl }}">← Back to {{ course.code }} Course</a></p>

<h1>{{ page.name }} Class</h1>

<ul>
    <li><strong>Course:</strong> {{ course.name }} ({{ course.code }})</li>
    <li><strong>Dates:</strong> {{ site.translations[site.lang].classes[page.name].start }} &ndash; {{ site.translations[site.lang].classes[page.name].end }}</li>
    <li><strong>Time:</strong> {{ site.translations[site.lang].classes[page.name].time }}</li>
    <li><strong>Teacher:</strong> {{ page.teacher }}</li>
    <li><strong>Students:</strong> {{ page.students }}</li>
    <li><strong>Status:</strong> {{ page.status }}</li>
</ul>

{{ content }}